.feynman__subtitle {
    margin: auto;
    text-align: center;
    font-size: 36px;
    line-height: 51px;
    font-style: normal;
    font-weight: normal;
    margin-top: 70px;
    padding-right: 0px;
}